* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto; 
    font-family: Inter;
} 

.price {
    padding: 0 0 80px;
}

.price-title, .price-subtitle {
   display: flex;
   justify-content: center;
}

.price-title {
    font-size: 64px;
    font-weight: 900;
    margin: 74px 0 34px ;
}

.price-subtitle {
    font-size: 32px;
    color: #ADADAD;
    font-weight: bold;
    margin: 0 0 40px;
}

.price-subtitle span {
    color: #6C5CE7;
}

.price-tariff {
    grid-template-columns: 1fr 1fr 1fr;
    display: inline-grid;
    grid-gap: 30px;  
    height: 536px;
}

.price-bk {
   border-radius: 8px;
   padding: 32px;
}

.price-bk:hover {
box-shadow: 0px 2px 4px 0px rgba(37, 41, 58, 0.2);
}

.price-bk-name {
    color: #6C5CE7;
    font-size: 18px;
    font-weight: 700;
    display: flex; 
}

.price-bk-name img {
    width: 20px;
    height: 15px;
}

.price-bk-name-info {
    justify-content: space-between ;
    display: flex;
    align-items: center;
    margin: 0 0 16px;
    height: 32px;
}

.price-bk-info {
    border: 2px solid #6C5CE7;
    border-radius: 99px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 800;
    padding: 10px 25px;
    font-size: 12px;
}

.price-bk-price {
    font-size: 48px;
    font-weight: 800;
    margin: 0 0 24px;
}

.price-bk-price span {
    font-size: 12px;
}

.price-bk-discription-container {
    height: 250px;
}

.price-bk-discription {
    margin: 16px 0;
    display: flex;
}
  
.price-bk-content {
    font-size: 18px;
    display: flex;
    margin: 0 16px;
}

.price-bk-circle, .price-bk-circle-yellow, .price-bk-circle-green {
    width: 32px;
    height: 32px;
    border-radius: 50%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-bk-circle {
    background: #C2C2C2;
}

.price-bk-circle-yellow {
    background: #FDCB6E;
}

.price-bk-circle-green {
    background: #55EFC4;
}

.price-btn {
    border: 1px solid #ADADAD;
    border-radius: 16px;
    display: flex;   
    align-self:flex-end;
    padding: 15px;
    margin: 25px 0 0;
}

.price-btn:hover {
    background: #6C5CE7;
}

.price-btn-content {
    color: #6C5CE7;
    font-weight: 700;
    display: flex;
    width: 100%;
    font-size: 24px;
    line-height: 36px;
}

.price-btn-content:hover {
    color: #FFFFFF;
}

.price-btn a {
    text-decoration: none;
    margin: 0 auto;
}

.footer {
    display: flex; 
    justify-content: space-around;
}

.footer-left {
    flex: left;
    display: flex;
    flex-direction: column;
}

.footer-up {
    height: 100px;
}

.footer-title {
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2.5px;
    color: #ADADAD;
    margin: 10px 0;
}

.footer-icon {
    margin: 10px 0 40px;
}

.footer-icon img {
    margin: 0 25px 0 0
}

.footer-inform-cont {
    display: flex;
} 

.footer-inform-cont2 {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
}

.footer-information {
    display: flex;
}

.footer-information a {
    text-decoration: none;
    color: #2D3436;
    margin: 10px 0;
}

.footer-right {
    flex: right;
    display: flex;
    flex-direction: column;
}

.footer-email a {
    text-decoration: none;
    letter-spacing: -0.5px;
    font-weight: bold;
    font-size: 32px;
    color: #6C5CE7;
}

.footer-form {
    display: flex;
}

.footer-form-string-up {
    display: flex;
}

.footer-form-string-down {
    display: flex;
}

input, textarea {
    border: none;    
    background: #F0F0F0;
    border-radius: 16px;
    width: 270px;
    color: #2D3436;
    margin: 0 15px 15px 0;
}

input {
    height: 48px;
}

input:focus, textarea:focus {
    border: 5px solid #6C5CE7;
}

.footer-form-button {
    background-color: #6C5CE7;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.25px;   
}

.footer-form-button:hover {
    background-color:  #FFEAA7;
    color:#6C5CE7;
}

.footer-form-button:focus {
    background-color:  #FFEAA7;
    color:#6C5CE7;
}
.wave {
    width: 100%;
}

@media   (min-width: 400px) and   (max-width: 669px) {

    .price-title {
        font-size: 50px;
    }    

    .price-subtitle {
        font-size: 20px;
    }

    .price-tariff {
        grid-template-columns: 1fr ;
        margin: 0 50px;
    }

    .footer {
        flex-direction: column;
        margin: 1100px 100px 0 100px;
    } 

    .wave {
        width: 100%;
    }
}

@media (min-width: 670px) and   (max-width: 790px) { 

     .footer {
        flex-direction: column;
        margin: 1100px 100px 0 100px;
    } 

    .price-tariff {
        grid-template-columns: 1fr ;
        margin: 0 50px;
    }
}   

@media  (min-width: 791px) and (max-width: 1100px) {
    
    .price-tariff {
        grid-template-columns: 1fr 1fr;
        display: inline-grid;
        margin: 0 50px;
    }
    
    .footer {
        flex-direction: column;
        margin: 500px 150px 0 150px;
    }
}
    
  

